#bar {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	border-bottom: 2px solid #6DC460;
	color: #6DC460;
	background-color: #eee;
	font-size: 1.1rem;
	font-weight: normal;
	z-index: 1000;
	/*-webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);*/
	/*-moz-box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);*/
	/*box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);*/
}

#bar .row {
	position: relative;
	margin: 0 auto;
	max-width: 987px;
}

#bar .col-xs-1 {
	margin: 0;
	padding: 0;
	width: auto;
}

#bar .col-xs-3, .col-sm-2 {
	text-align: center;
	padding: 0;
}

#bar a {
	display: inline-block;
	box-sizing: border-box;
	padding: .75rem 0;
	width: 100%;
	color: #6DC460;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}

#bar a:hover, #bar a:active {
	color: #519548;
	text-decoration: underline;
}

#bar .title {
	padding: .75rem 0;
}