#dashboard {
	text-align: center;
	padding: 0;
}

#dashboard #tracker .progress {
	margin-top: .7rem;
	background-color: #fff;
}

#dashboard #tracker .progress-bar {
	background-color: #bbb;
}

#dashboard #tracker .progress-bar.full {
	background-color: #6DC460;
}

#dashboard .statistic {
	box-sizing: border-box;
	margin: 1.5rem auto;
	padding: .7rem;
	width: 100%;
	max-width: 477px;
	font-weight: 300;
	font-size: 1.1rem;
	background-color: #eee;
	text-align: left;
}

.button-link {
	display: inline-block;
	box-sizing: border-box;
	padding: .5rem .8rem;
	background-color: #6DC460;
	font-size: 1rem;
	color: #fff;
	text-align: center;
	cursor: pointer;
	-webkit-border-radius: .4rem;
	-moz-border-radius: .4rem;
	border-radius: .4rem;
}

.button-link:hover, .button-link:active {
	background-color: #519548;
}