html {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	overflow-x: hidden;
	font-size: 16px;
}

@-ms-viewport {
	width: device-width;
	max-width: device-width;
	min-width: device-width;
	zoom: 1.0;
	max-zoom: 1.0;
	min-zoom: 1.0;
	user-zoom: fixed;
	orientation: auto;
}

@viewport {
	width: device-width;
	max-width: device-width;
	min-width: device-width;
	zoom: 1.0;
	max-zoom: 1.0;
	min-zoom: 1.0;
	user-zoom: fixed;
	orientation: auto;
}

body {
	margin: 0;
	padding: 0 .3rem;
	line-height: 1.25;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: #777;
	background-color: #fff;
}

#page {
	margin: auto;
	padding: 79px 0 2rem;
	width: 100%;
	max-width: 987px;
}

#page .row {
	margin: 0;
	padding: 0;
}

a {
	color: #1B676B;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

#errorMessage {
	margin: 0 auto;
}

/* colors

green-light: #6DC460
green-dark: #519548
blue-dark: #1B676B

*/