#leaderboard {
	text-align: center;
	padding: 0;
}

#leaderboard .user {
	box-sizing: border-box;
	margin: 1.5rem auto;
	padding: .7rem;
	width: 100%;
	max-width: 477px;
	font-weight: 300;
	font-size: 1.1rem;
	background-color: #eee;
	text-align: left;
}

#leaderboard .user-current {
	color: #6DC460;
}

#leaderboard .title {
	font-weight: 300;
	font-size: 1.3rem;
}