#login {
	font-size: 1rem;
}

#login .row {
	margin-bottom: .5rem;
}

@media screen and (max-width: 767px){
    #login .row {
    	margin-bottom: .7rem;
    }
}

#login input[type=text], #login input[type=password], #login input[type=email] {
	box-sizing: border-box;
	border: 2px solid #ddd;
	padding: .2rem .3rem;
	width: 100%;
	max-width: 14.5rem;
	font-size: 1rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
}

#login input[type=text]:focus, #login input[type=password]:focus, #login input[type=email]:focus {
	outline: #6DC460 solid 2px;
}

#login input[type=submit] {
	box-sizing: border-box;
	border: 2px solid #ddd;
	padding: .25rem .6rem;
	background-color: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
}

#login input[type=submit]:hover {
	border-color: #6DC460;
	color: #6DC460;
}