#messages {
	text-align: center;
	padding: 0;
}

#messages .title {
	font-weight: 300;
	font-size: 1.4rem;
}

#message-list {
	position: relative;
	margin: 1rem auto 0;
	width: 100%;
	max-width: 610px;
}

#message-list .message {
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	margin: .7rem 0 0;
	padding: .4rem .5rem;
	width: 100%;
	font-size: 1rem;
	text-align: left;
	background-color: #eee;
	cursor: pointer;
}

#message-list .message-details {
	font-size: .6rem;
}

#message-text {
	width: 100%;
}

#text-sizing {
	position: absolute;
	width: 100%;
	white-space: pre-wrap;
	opacity: 0;
}

#messages .col-xs-3, #messages .col-xs-9, #messages .col-md-2, #messages .col-md-10 {
	padding: 0;
}

#message-save {
	display: inline-block;
	box-sizing: border-box;
	padding: .5rem .8rem;
	background-color: #6DC460;
	font-size: 1rem;
	color: #fff;
	text-align: center;
	cursor: pointer;
	-webkit-border-radius: .4rem;
	-moz-border-radius: .4rem;
	border-radius: .4rem;
}

#message-save:hover {
	background-color: #519548;
}