#record {
	text-align: center;
	padding: 0;
}

#record .title {
	font-weight: 300;
	font-size: 1.4rem;
}

#goal-list {
	position: relative;
	margin: 2rem auto 0;
	width: 100%;
	max-width: 477px;
}

#goal-list .goal {
	box-sizing: border-box;
	display: inline-block;
	margin: .7rem 0;
	border: 2px solid #ddd;
	padding: .4rem .5rem;
	width: 100%;
	font-size: 1rem;
	text-align: left;
	cursor: pointer;
}

#goal-list .goal.half {
	width: 48%;
	margin-right: 2%;
	margin-left: 2%;
	font-size: .95rem;
}

#goal-list .goal:first-child {
	margin-left: 0;
}

#goal-list .goal:last-child {
	margin-right: 0;
}

#goal-list .goal.checked {
	border-color: #6DC460;
	color: #519548;
}

#goal-list .weekly-double {
	color: #ec971f;
}