<div id="bar">
	<div class="row">
		<div class="col-xs-3 col-sm-2">
			<a ng-click="location.path('/dashboard')">back</a>
		</div>
		<div class="col-xs-6 col-sm-8">
			
		</div>
		<div class="col-xs-3 col-sm-2">
			<a ng-click="location.path('/logout')">logout</a>
		</div>
	</div>
</div>

<div id="leaderboard" class="col-xs-12 col-sm-10 col-sm-offset-1">
	<div class="title">
		Winners and Losers
	</div>
	
	<div class="user" ng-repeat="(key, value) in rankings" ng-class="{'user-current': value.email === user.email}">
		{{ value.name }} <span class="pull-right">{{ value.points }} points -- Rank {{ value.rank }}</span>
	</div>
</div>