<div id="bar">
	<div class="row">
		<div class="col-xs-6 col-sm-8">
			
		</div>
		<div class="col-xs-3 col-sm-2">
			<a ng-click="location.path('/dashboard')">dashboard</a>
		</div>
		<div class="col-xs-3 col-sm-2">
			<a ng-click="location.path('/logout')">logout</a>
		</div>
	</div>
</div>

<div id="settings" class="col-xs-10 col-xs-offset-1">
	This feature coming soon. If you have any ideas for settings that would be useful, please email me at: robert@increscent.org
</div>