<!DOCTYPE html>

<html ng-app="wlApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" type="image/png" href="/icon.png">
		<title>HughesFit</title>
		
		<!-- google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,500' rel='stylesheet' type='text/css'>
		<!-- global stylesheets -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<!-- app stylesheets -->
		<link rel="stylesheet" href="/styles/global.css">
		<link rel="stylesheet" href="/styles/bar.css">
		<link rel="stylesheet" href="/styles/login.css">
		<link rel="stylesheet" href="/styles/settings.css">
		<link rel="stylesheet" href="/styles/dashboard.css">
		<link rel="stylesheet" href="/styles/record.css">
		<link rel="stylesheet" href="/styles/leaderboard.css">
		<link rel="stylesheet" href="/styles/messages.css">
		<link rel="stylesheet" href="/styles/animate.css">
	</head>
	
	<body>
	
	<div id="page">
		<div id="errorMessage" ng-controller="errorController">
			<div class="alert alert-warning" role="alert" ng-show="errorMessage">{{ errorMessage }}</div>
		</div>
		<div class="row">
			<ng-view></ng-view>
		</div>
	</div>
	
	<!-- global sources -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-touch.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-animate.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<!-- app sources -->
	<script src="/app/app.js"></script>
	<script src="/app/factories.js"></script>
	<script src="/app/filters.js"></script>
	<script src="/app/directives.js"></script>
	<script src="/app/user/signup/signup.js"></script>
	<script src="/app/user/login/login.js"></script>
	<script src="/app/user/success/success.js"></script>
	<script src="/app/user/settings/settings.js"></script>
	<script src="/app/user/logout/logout.js"></script>
	<script src="/app/main/dashboard/dashboard.js"></script>
	<script src="/app/main/record/record.js"></script>
	<script src="/app/main/messages/messages.js"></script>
	<script src="/app/main/error/error.js"></script>
	<script src="/app/main/leaderboard/leaderboard.js"></script>
	
	<script src="/global/rules.js"></script>
	</body>
</html>