html {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	overflow-x: hidden;
	font-size: 16px;
}

@-ms-viewport {
	width: device-width;
	max-width: device-width;
	min-width: device-width;
	zoom: 1.0;
	max-zoom: 1.0;
	min-zoom: 1.0;
	user-zoom: fixed;
	orientation: auto;
}

@viewport {
	width: device-width;
	max-width: device-width;
	min-width: device-width;
	zoom: 1.0;
	max-zoom: 1.0;
	min-zoom: 1.0;
	user-zoom: fixed;
	orientation: auto;
}

body {
	margin: 0;
	padding: 0 .3rem;
	line-height: 1.25;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: #777;
	background-color: #fff;
}

#page {
	margin: auto;
	padding: 79px 0 2rem;
	width: 100%;
	max-width: 987px;
}

#page .row {
	margin: 0;
	padding: 0;
}

a {
	color: #1B676B;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

#errorMessage {
	margin: 0 auto;
}

/* colors

green-light: #6DC460
green-dark: #519548
blue-dark: #1B676B

*/
#bar {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	border-bottom: 2px solid #6DC460;
	color: #6DC460;
	background-color: #eee;
	font-size: 1.1rem;
	font-weight: normal;
	z-index: 1000;
	/*-webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);*/
	/*-moz-box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);*/
	/*box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);*/
}

#bar .row {
	position: relative;
	margin: 0 auto;
	max-width: 987px;
}

#bar .col-xs-1 {
	margin: 0;
	padding: 0;
	width: auto;
}

#bar .col-xs-3, .col-sm-2 {
	text-align: center;
	padding: 0;
}

#bar a {
	display: inline-block;
	box-sizing: border-box;
	padding: .75rem 0;
	width: 100%;
	color: #6DC460;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}

#bar a:hover, #bar a:active {
	color: #519548;
	text-decoration: underline;
}

#bar .title {
	padding: .75rem 0;
}
#login {
	font-size: 1rem;
}

#login .row {
	margin-bottom: .5rem;
}

@media screen and (max-width: 767px){
    #login .row {
    	margin-bottom: .7rem;
    }
}

#login input[type=text], #login input[type=password], #login input[type=email] {
	box-sizing: border-box;
	border: 2px solid #ddd;
	padding: .2rem .3rem;
	width: 100%;
	max-width: 14.5rem;
	font-size: 1rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
}

#login input[type=text]:focus, #login input[type=password]:focus, #login input[type=email]:focus {
	outline: #6DC460 solid 2px;
}

#login input[type=submit] {
	box-sizing: border-box;
	border: 2px solid #ddd;
	padding: .25rem .6rem;
	background-color: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
}

#login input[type=submit]:hover {
	border-color: #6DC460;
	color: #6DC460;
}
#settings {
	
}
#dashboard {
	text-align: center;
	padding: 0;
}

#dashboard #tracker .progress {
	margin-top: .7rem;
	background-color: #fff;
}

#dashboard #tracker .progress-bar {
	background-color: #bbb;
}

#dashboard #tracker .progress-bar.full {
	background-color: #6DC460;
}

#dashboard .statistic {
	box-sizing: border-box;
	margin: 1.5rem auto;
	padding: .7rem;
	width: 100%;
	max-width: 477px;
	font-weight: 300;
	font-size: 1.1rem;
	background-color: #eee;
	text-align: left;
}

.button-link {
	display: inline-block;
	box-sizing: border-box;
	padding: .5rem .8rem;
	background-color: #6DC460;
	font-size: 1rem;
	color: #fff;
	text-align: center;
	cursor: pointer;
	-webkit-border-radius: .4rem;
	-moz-border-radius: .4rem;
	border-radius: .4rem;
}

.button-link:hover, .button-link:active {
	background-color: #519548;
}
#record {
	text-align: center;
	padding: 0;
}

#record .title {
	font-weight: 300;
	font-size: 1.4rem;
}

#goal-list {
	position: relative;
	margin: 2rem auto 0;
	width: 100%;
	max-width: 477px;
}

#goal-list .goal {
	box-sizing: border-box;
	display: inline-block;
	margin: .7rem 0;
	border: 2px solid #ddd;
	padding: .4rem .5rem;
	width: 100%;
	font-size: 1rem;
	text-align: left;
	cursor: pointer;
}

#goal-list .goal.half {
	width: 48%;
	margin-right: 2%;
	margin-left: 2%;
	font-size: .95rem;
}

#goal-list .goal:first-child {
	margin-left: 0;
}

#goal-list .goal:last-child {
	margin-right: 0;
}

#goal-list .goal.checked {
	border-color: #6DC460;
	color: #519548;
}

#goal-list .weekly-double {
	color: #ec971f;
}
#leaderboard {
	text-align: center;
	padding: 0;
}

#leaderboard .user {
	box-sizing: border-box;
	margin: 1.5rem auto;
	padding: .7rem;
	width: 100%;
	max-width: 477px;
	font-weight: 300;
	font-size: 1.1rem;
	background-color: #eee;
	text-align: left;
}

#leaderboard .user-current {
	color: #6DC460;
}

#leaderboard .title {
	font-weight: 300;
	font-size: 1.3rem;
}
#messages {
	text-align: center;
	padding: 0;
}

#messages .title {
	font-weight: 300;
	font-size: 1.4rem;
}

#message-list {
	position: relative;
	margin: 1rem auto 0;
	width: 100%;
	max-width: 610px;
}

#message-list .message {
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	margin: .7rem 0 0;
	padding: .4rem .5rem;
	width: 100%;
	font-size: 1rem;
	text-align: left;
	background-color: #eee;
	cursor: pointer;
}

#message-list .message-details {
	font-size: .6rem;
}

#message-text {
	width: 100%;
}

#text-sizing {
	position: absolute;
	width: 100%;
	white-space: pre-wrap;
	opacity: 0;
}

#messages .col-xs-3, #messages .col-xs-9, #messages .col-md-2, #messages .col-md-10 {
	padding: 0;
}

#message-save {
	display: inline-block;
	box-sizing: border-box;
	padding: .5rem .8rem;
	background-color: #6DC460;
	font-size: 1rem;
	color: #fff;
	text-align: center;
	cursor: pointer;
	-webkit-border-radius: .4rem;
	-moz-border-radius: .4rem;
	border-radius: .4rem;
}

#message-save:hover {
	background-color: #519548;
}
.slideup {
	display: block;
	position: absolute;
    top: 0;
	left: 0;
	right: 0;
    padding: 79px 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}
.slideup.ng-enter,
.slideup.ng-leave {
    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
}
.slideup.ng-enter {
    top: 100%;
}
.slideup.ng-enter-active {
    top: 0;
}
.slideup.ng-leave {
    top: 0;
}
.slideup.ng-leave-active {
    top: 100%;
}
