<div id="bar">
	<div class="row">
		<div class="col-xs-3 col-sm-2">
			<a ng-click="location.path('/dashboard')">back</a>
		</div>
		<div class="col-xs-6 col-sm-8">
			
		</div>
		<div class="col-xs-3 col-sm-2">
			<a ng-click="location.path('/logout')">logout</a>
		</div>
	</div>
</div>

<div id="messages" class="col-xs-12 col-sm-10 col-sm-offset-1">
	<div class="title">
		Message Board
	</div>
	
	<div id="message-list">
		<div id="new-message" class="message row" ng-show="user">
			<div class="col-xs-9 col-md-10">
				<textarea id="message-text" ng-model="newMessageText" auto-resize></textarea>
				<div id="text-sizing">{{ newMessageText + 'a' }}</div>
			</div>
			<div class="col-xs-3 col-md-2">
				<div id="message-save" class="pull-right" ng-click="saveMessage()">
					send
				</div>
			</div>
		</div>
		
		<div ng-repeat="message in messages | orderObjectBy: timestamp : true" class="message">
			<div class="message-text">
				{{ message.text }}
			</div>
			<div class="message-details">
				{{ message.name }}
			</div>
		</div>
	</div>
</div>