<div id="bar">
	<div class="row">
		<div class="col-xs-3 col-sm-2">
			<a ng-click="location.path('/dashboard')">back</a>
		</div>
		<div class="col-xs-6 col-sm-8">
			
		</div>
		<div class="col-xs-3 col-sm-2">
			<a ng-click="location.path('/logout')">logout</a>
		</div>
	</div>
</div>

<div id="record" class="col-xs-12 col-sm-10 col-sm-offset-1">
	<div class="title">
		<i class="fa fa-h-square pull-left" spin-loading></i>
		Record your progress for
		<select ng-model="recordDate" ng-options="date.prettyDate for date in recordDates" ng-change="updateData()"></select>
	</div>
	
	<div id="goal-list">
		<div ng-repeat="(goalName, goal) in goals">
			<div class="goal" ng-class="{half: goal[2], checked: savedGoals[goalName] === key}" ng-repeat="(key, value) in goal" ng-click="updateGoal(goalName, key)" goal-complete="{{ savedGoals[goalName] === key }}" goal-name="{{ goalName }}">
				{{ value.name }} (+{{ value.points }})
				<span class="weekly-double" ng-show="value.weeklyDouble">&nbsp;&nbsp;&nbsp;x2</span>
				<i class="fa fa-square-o pull-right"></i>
			</div>
		</div>
	</div>
</div>