<div id="bar">
	<div class="row">
		<div class="col-xs-6 col-sm-8 text-center">
			<div class="title">
				{{ user.name }}
			</div>
		</div>
		<div class="col-xs-3 col-sm-2">
			<a ng-click="location.path('/settings')">settings</a>
		</div>
		<div class="col-xs-3 col-sm-2">
			<a ng-click="location.path('/logout')">logout</a>
		</div>
	</div>
</div>

<div id="dashboard" class="col-xs-10 col-xs-offset-1">
	<div class="button-link" ng-click="location.path('/record')">Record your progress</div>
	
	<div id="tracker" class='statistic'>
		Today's points: <span class="pull-right">{{ dailyActualPoints }} / {{ dailyPossiblePoints }}</span>
		<div class="progress">
			<div class="progress-bar" role="progressbar" ng-class="{full: dailyActualPoints === dailyPossiblePoints}" style="width: {{ dailyActualPoints / dailyPossiblePoints * 100 }}%;">
			</div>
		</div>
	</div>
	
	<div class="button-link" ng-click="location.path('/messages')">Talk some trash</div>
	
	<div class="statistic">
		Your rank: <span class="pull-right">{{ rank }}</span>
	</div>
	
	<div class="button-link" ng-click="location.path('/leaderboard')">Check the rankings</div>
	
	<div class="statistic">
		Your total points: <span class="pull-right">{{ totalPoints }}</span>
	</div>
	
	<div class="statistic">
		Competition week: <span class="pull-right">{{ currentCompetitionWeek }} / {{ totalCompetitionWeeks }}</span>
	</div>
	
	<div class="statistic">
		Days remaining: <span class="pull-right">{{ daysRemaining }}</span>
	</div>
</div>