<div id="bar">
	<div class="row">
		<div class="col-xs-9">
			
		</div>
		<div class="col-xs-3">
			<a ng-click="location.path('/logout')">logout</a>
		</div>
	</div>
</div>

<div id="success" class="col-xs-10 col-xs-offset-1">
	<h2>{{ user.name }}, welcome to HughesFit!</h2>
	<h3>Your account is ready to go!</h3>
	<h5><a ng-click="location.path('/dashboard')">Click here</a> to access your dashboard.</h5>
</div>