<div id="bar">
	<div class="row">
		<div class="col-xs-9">
			
		</div>
		<div class="col-xs-3">
			<a ng-click="location.path('/login')">login</a>
		</div>
	</div>
</div>

<div id="login" class="col-xs-10 col-xs-offset-1">
	<form ng-submit="signup()">
	
		<div class="row">
			<div class="col-sm-3 hidden-xs text-right">Name:</div>
			<div class="col-xs-12 col-sm-9">
				<input type="text" ng-model="name" placeholder="{{ placeholder.name }}" required focus-input="true">
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-3 hidden-xs text-right">Email:</div>
			<div class="col-xs-12 col-sm-9">
				<input type="email" ng-model="email" placeholder="{{ placeholder.email }}" required>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-3 hidden-xs text-right">Password:</div>
			<div class="col-xs-12 col-sm-9">
				<input type="password" ng-model="password1" placeholder="{{ placeholder.password }}" required>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-3 hidden-xs text-right">(again)</div>
			<div class="col-xs-12 col-sm-9">
				<input type="password" ng-model="password2" placeholder="{{ placeholder.again }}" required>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-9 col-sm-offset-3"><input type="submit" value="signup"></div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="alert alert-warning" role="alert" ng-bind="errorMessage" ng-show="errorMessage">
					{{ errorMessage }}
				</div>
			</div>
		</div>
		
	</form>
</div>